@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Syne:wght@700&display=swap");
* ::before ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 3rem 0 0 0;
  font-size: 0.938rem;
  font-weight: 500;
  background-color: #fffafa;
  color: #54423d;
  line-height: 1.6;
  transition: background-color 0.5s;
}

body.dark {
  background-color: #24292d;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h3 {
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #54423d;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding: 4rem 0 2rem;
}

.section-title {
  font-size: 1.5rem;
  color: #cc4b2c;
  margin-bottom: 1.5rem;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 0.938rem;
  color: #290f09;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

body.dark .section-subtitle {
  color: #fffafa;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.header-1 {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fffafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s;
}

body.dark .header-1 {
  background-color: #323840;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #cc4b2c;
  transition: 0.5s;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #662616;
  cursor: pointer;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  margin-left: 3em;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fffafa;
  font-weight: 700;
  transition: 0.3s;
}
.nav__link :hover {
  color: #54423d;
}

.nav__toggle {
  color: #662616;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.5s;
}

body.dark .nav__toggle {
  color: #fffafa;
}

body.dark .nav__logo {
  color: #fffafa;
}

.toggle__theme {
  background-color: #fffafa;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-left: 3em;
  transition: background-color 0.5s;
}

body.dark .toggle__theme {
  background-color: #24292d;
}

.toggle__theme::before {
  content: "\eb94";
  font-family: Boxicons;
  text-align: center;
  font-size: 18px;
  color: #290f09;
}

body.dark .toggle__theme::before {
  content: "\ec34";
  color: #fffafa;
}

.show {
  left: 0;
}

.active {
  color: #54423d;
}

.home__container {
  height: calc(100vh - 3rem);
  align-items: center;
}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
}

.home__img {
  padding-top: 1.3rem;
  padding-left: 0.8rem;
  width: 200px;
  height: 200px;
  background-color: #cc4b2c;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}
.home__img img {
  width: 155px;
  margin-left: 1rem;
}

.home__title {
  font-size: 1.5rem;
  color: #cc4b2c;
  font-weight: 600;
}

.home__kuliah {
  font-size: 0.813rem;
  color: #662616;
  margin-bottom: 2.5rem;
}

body.dark .home__kuliah {
  color: #fffafa;
}

.home__social {
  margin-bottom: 5rem;
}
.home__social :hover {
  background-color: #662616;
}

.home__social-link {
  display: inline-flex;
  background-color: #cc4b2c;
  color: #fffafa;
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 0.5rem;
  transition: 0.3s;
}

.home__button {
  width: 100%;
}

.button {
  display: inline-block;
  background-color: #cc4b2c;
  color: #fffafa;
  padding: 1rem 0;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: #662616;
}

.button__light {
  background-color: #fffafa;
  color: #cc4b2c;
}
.button__light :hover {
  color: #fffafa;
}

.projects__container {
  justify-content: center;
  row-gap: 2rem;
  margin-bottom: 3.5em;
}

.project__bar {
  background-color: #cc4b2c;
  margin-bottom: 1.5em;
  color: #fffafa;
  border-radius: 0.5rem;
}

.project__bar-title {
  padding: 10px;
}

.projects__img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.projects__data {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(204, 75, 44, 0.7);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.projects__link {
  display: inline-flex;
  font-size: 1.5rem;
  background-color: #fffafa;
  color: #cc4b2c;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
.projects__link :hover {
  color: #290f09;
}

.projects__title {
  font-size: 1.25rem;
  color: #fffafa;
}

.projects__img:hover .projects__data {
  bottom: 0;
}

.footer {
  background-color: #290f09;
  color: #fffafa;
  text-align: center;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer__description {
  margin-bottom: 1rem;
}

.footer__social {
  margin-bottom: 3rem;
}

.footer__link {
  display: inline-flex;
  background-color: #cc4b2c;
  color: #fffafa;
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 0.5rem;
  transition: 0.3s;
}

.footer__link:hover {
  background-color: #fffafa;
  color: #cc4b2c;
}

.footer__copy {
  font-size: 0.75rem;
  color: #54423d;
}

@media screen and (min-width: 768px) {
  .home__button {
    width: 50%;
  }
  .nav__menu {
    width: 324px;
  }
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    background: none;
  }
  .footer__container {
    background-color: #290f09;
    padding: 3rem 0;
    border-radius: 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding-left: 324px;
  }
  .header-1 {
    width: 0;
  }
  .nav__toggle,
.nav__logo,
.nav__close {
    display: none;
  }
  .nav__menu {
    left: 0;
  }
  .home__container {
    height: 100vh;
  }
  .section {
    padding: 3rem 0 2rem;
  }
  .bd-grid {
    margin-right: auto;
    margin-left: auto;
  }
  .projects__container {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=style.css.map */