@import "../scss/variabels.scss";

@media screen and (min-width: 768px) {
    @include media-query;
}

// ------BASE------
* {
    ::before {
        ::after {
            box-sizing: border-box;
        }
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $body-font;
    margin: $header-height 0 0 0;
    font-size: $normal-font-size;
    font-weight: $font-medium;
    background-color: $color-lighten;
    color: $text-color;
    line-height: 1.6;
}

h1,h2,h3,p {
    margin: 0;
}

h3 {
    font-weight: $font-semi-bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $text-color;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

// ------CLASS SCSS------
.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: $h1-font-size;
    color: $first-color;
    margin-bottom: $mb-3;
    text-align: center;
}

.section-subtitle {
    display: block;
    font-size: $small-font-size;
    color: $color-darken;
    text-align: center;
    font-weight: $font-bold;
    margin-bottom: .25rem;
}

// ------LAYOUTS------
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: $mb-2;
    margin-right: $mb-2;
}

.header-1 {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: $color-lighten;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

// ------NAV------
.nav {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $first-color;
    transition: .5s;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: $color-dark;
    cursor: pointer;
}

.nav__item {
    margin-bottom: $mb-4;
}

.nav__link {
    margin-left: 3em;
    font-size: 1rem;
    text-transform: uppercase;
    color: $color-lighten;
    font-weight: $font-bold;
    transition: .3s;

    :hover {
        color: $text-color;
    }
}

.nav__toggle {
    color: $color-dark;
    font-size: 1.3rem;
    cursor: pointer;
}

// ------SHOW MENU------
.show {
    left: 0;
}

// ------ACTIVE MENU------
.active {
    color: $text-color;
}

// ==== HOME ====
.home__container {
    height: calc(100vh - $header-height);
    align-items: center;
}

.home__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}

.home__img {
    padding-top: 1.3rem;
    padding-left: .8rem;
    width: 200px;
    height: 200px;
    background-color: $first-color;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: $mb-2;

    img {
        width: 155px;
        margin-left: $mb-2;
    }
}

.home__title {
    font-size: $h1-font-size;
    color: $first-color;
    font-weight: $font-semi-bold;
}

.home__kuliah {
    font-size: $small-font-size;
    color: $color-dark;
    margin-bottom: $mb-5;
}

.home__social {
    margin-bottom: 5rem;
    
    :hover {
        background-color: $color-darken;
    }
}

.home__social-link {
    display: inline-flex;
    background-color: $first-color;
    color: $color-lighten;
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 $mb-1;
    transition: .3s;
}

.home__button {
    width: 100%;
    // margin: 0 1em 0 1em;
}

// ------BUTTON------
.button {
    display: inline-block;
    background-color: $first-color;
    color: $color-lighten;
    padding: 1rem 0;
    font-weight: $font-semi-bold;
    border-radius: .5rem;
    transition: .3s;

    :hover {
        background-color: $color-dark;
    }
}

.button__light {
    background-color: $color-lighten;
    color: $first-color;

    :hover {
        color: $color-lighten;
    }
}

// ==== PROJECTS ====
.projects__container {
    justify-content: center;
    row-gap: 2rem;
}

.projects__img {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.projects__data {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(204, 75, 44, .7);
    border-radius: .5rem;
    transition: .3s;
}

.projects__link {
    display: inline-flex;
    font-size: 1.5rem;
    background-color: $color-lighten;
    color: $first-color;
    padding: .25rem;
    border-radius: .25rem;
    margin-bottom: $mb-2;

    :hover {
        // background-color: $color-darken;
        // border-radius: .25rem;
        color: $color-darken;
    }
}

.projects__title {
    font-size: $h2-font-size;
    color: $color-lighten;
}

.projects__img:hover {
    .projects__data {
        bottom: 0;
    }
}

// ==== FOOTER ====
.footer {
    background-color: $color-darken;
    color: $color-lighten;
    text-align: center;
}

.footer__title {
    font-size: $h1-font-size;
    margin-bottom: $mb-2;
}

.footer__description {
    margin-bottom: $mb-2;
}

.footer__social {
    margin-bottom: 3rem;
}

.footer__link {
    display: inline-flex;
    background-color: $first-color;
    color: $color-lighten;
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 $mb-1;
    transition: .3s;
}

.footer__link:hover {
    background-color: $color-lighten;
    color: $first-color;
}

.footer__copy {
    font-size: $smaller-font-size;
    color: $text-color;
}

// ==== MEDIA QUERY ====
@media screen and (min-width: 768px) {
    .home__button {
        width: 50%;
    }

    .nav__menu {
        width: $nav-width;
    }

    .projects__container {
        grid-template-columns: repeat(2,1fr);
    }

    .footer {
        background: none;
    }

    .footer__container {
        background-color: $color-darken;
        padding: 3rem 0;
        border-radius: .5rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0;
        padding-left: $nav-width;
    }

    .header-1 {
        width: 0;
    }

    .nav__toggle, .nav__logo, .nav__close {
        display: none;
    }

    .nav__menu {
        left: 0;
    }

    .home__container {
        height: 100vh;
    }

    .section {
        padding: 3rem 0 2rem;
    }

    .bd-grid {
        margin-right: auto;
        margin-left: auto;
    }

    .projects__container {
        grid-template-columns: repeat(3,1fr);
    }
}